{% load static %}

<div class="page-main-header">
    <div class="main-header-right row">
      <div class="main-header-left d-lg-none w-auto">
        <div class="logo-wrapper">
          <a href="index.html">
            <img
              class="blur-up lazyloaded d-block d-lg-none"
              src="{% static '../اصلی با نوشته.jpg' %}"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="mobile-sidebar w-auto">
        <div class="media-body text-end switch-sm">
          <label class="switch">
            <a href="javascript:void(0)">
              <i id="sidebar-toggle" data-feather="align-left"></i>
            </a>
          </label>
        </div>
      </div>
      <div class="nav-right col">
        <ul class="nav-menus">
          <li>
<!--            <form class="form-inline search-form">-->
<!--              <div class="form-group">-->
<!--                <input-->
<!--                  class="form-control-plaintext"-->
<!--                  type="search"-->
<!--                  placeholder="جستجو..."-->
<!--                />-->
<!--                <span class="d-sm-none mobile-search">-->
<!--                  <i data-feather="search"></i>-->
<!--                </span>-->
<!--              </div>-->
<!--            </form>-->
          </li>
          <li>
            <a
              class="text-dark"
              href="#!"
              onclick="javascript:toggleFullScreen()"
            >
              <i data-feather="maximize-2"></i>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i
                class="right_side_toggle"
                data-feather="message-square"
              ></i>
              <span class="dot"></span>
            </a>
          </li>

        </ul>
        <div class="d-lg-none mobile-toggle pull-right">
          <i data-feather="more-horizontal"></i>
        </div>
      </div>
    </div>
  </div>