<footer class="footer-light">
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>درباره ما </h4>
                    </div>
                    <div class="footer-contant">
                        <div class="footer-logo"><img src="../assets/images/icon/logo/1.png" alt=""></div>
                        <p>مراقبت از بیمار، پیگیری پزشک مهم است، اما زمان درد و رنج بسیار است. در طول سالها، من خواهم آمد،</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col offset-xl-1">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>لینک های مفید</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><a href="#">خانه </a></li>
                                <li><a href="#">رزور </a></li>
                                <li><a href="#">ساعات کاری</a></li>
                                <li><a href="#">درباره ما </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>ذخیره اطلاعات</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-list">
                                <li><i class="fa fa-map-marker"></i>فروشگاه نسخه ی نمایشی  فروشگاه نسخه ی نمایشی 345-659</li>
                                <li><i class="fa fa-phone"></i>تماس با ما : 123-456-520</li>
                                <li><i class="fa fa-envelope"></i>ایمیل ما :  <a href="#">Support@Fiot.com</a></li>
                                <li><i class="fa fa-fax"></i>فکس : 123456 </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                        {% comment %} <p><i class="fa fa-copyright" aria-hidden="true"></i> 1401 طراحی شده توسط گروه ستین  {% endcomment %}
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="payment-card-bottom">
                        <ul>
                            <li>
                                <a href="#"><img src="../assets/images/icon/visa.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../assets/images/icon/mastercard.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../assets/images/icon/paypal.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../assets/images/icon/american-express.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="../assets/images/icon/discover.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>